<div>
    <div class="row">
       <nav class="col-md-12 d-none d-md-block bg-light sidebar ">
          <div class="sidebar-sticky">
             <ul class="nav flex-column">
             <li class="nav-item">
                <a class="nav-link"  style="font-size:17px"  href="/home">
                Home
                </a>
             </li>

             <li class="nav-item">
               <a class="nav-link"  style="font-size:17px"  href="/repositories">
               Repositories
               </a>
            </li>
             <li class="nav-item">
                <a class="nav-link"  style="font-size:17px"   href="/bymonth" >
                Dashboard
                </a>
             </li>

             <li class="nav-item">
               <a class="nav-link"  style="font-size:17px"   href="/summary">
               Summary
               </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link"  style="font-size:17px"   href="/commit">
                Commit
                </a>
             </li>
             <li class="nav-item">
                <a class="nav-link"  style="font-size:17px"   href="/checkout">
                Checkout
                </a>
             </li>
             <li class="nav-item">
                <a class="nav-link"  style="font-size:17px"   href="/pullrequest">
                Pull Request
                </a>
             </li>
             <li class="nav-item">
                <a class="nav-link"  style="font-size:17px"   href="/unmergepull">
                Unmerge Pull
                </a>
             </li> -->
             <!--<li class="nav-item">
                <a class="nav-link collapsed text truncate"  style="font-size:17px" href="/reports" data-toggle="collapse" data-target="#reports_menu"><span class="d-none d-sm-inline">Reports</span></a>
                <div class="nav-link collapsed" id="reports_menu" aria-expanded="false" >
                   <ul class="flex-column pl-4 nav">
                      <li class="nav-item">
                         <a class="nav-link p-1" style="font-size:15px" href="/commit"><i class="fas fa-angle-right"></i>
                         Commit</a>
                      </li>
                      <li class="nav-item">
                         <a class="nav-link p-1" style="font-size:15px" href="/checkout"> <i class="fas fa-angle-right"></i>
                         Checkout</a>
                      </li>
                      <li class="nav-item">
                         <a class="nav-link p-1" style="font-size:15px" href="/pullrequest"><i class="fas fa-angle-right"></i>
                         Pull Request</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link p-1" style="font-size:15px" href="/unmergepull"><i class="fas fa-angle-right"></i>
                          Unmerge Pull</a>
                       </li>
                   </ul>
                  </div>
                  </li>-->
                  
                  </ul>
                </div>
                
       </nav>
       </div>
    </div>