<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="https://getbootstrap.com/docs/4.3/examples/dashboard/#"><h4 style="color: white; text-shadow: 2px 2px 4px grey;">GitFocus</h4></a>
 <!--
    <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-dark w-100"
        type="text"  placeholder="Search" 
        aria-label="Search">
-->
      
<div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control form-control-dark w-100" placeholder="Search">
  </div>
   
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
          
        <a class="nav-link" href="/">Sign out</a>

      </li>
    </ul>
  </nav>
