.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }

  .has-search .form-control {
    padding-right: 52rem;
    padding-left : 2rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display:block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: left;
    pointer-events: none;
    color: #aaa;
}