<div class="container">
    <div class="row">
      <div class="col-md-2">
       <div class="form-group">
<button type="button" class="btn btn-secondary" (click)="getContributors()">Checkout Details</button>
       </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
<button type="button" class="btn btn-secondary" (click)="getCommitDetails()">Commit Details</button>
        </div>
      </div>
      <div class="col-md-2">
            <div class="form-group">
    <button type="button" class="btn btn-secondary" (click)="getPullDetails()">Pull Details</button>
            </div>
          </div>
          <div class="col-md-3">
                <div class="form-group">
        <button type="button" class="btn btn-secondary" (click)="getUnmergedPullReq()">Unmerge PullReq</button>
                </div>
              </div> 
      <div class="col-md-2">
            <div class="form-group">
            <select  class="btn btn-secondary dropdown-toggle" (click)="setTimeframe($event.target.value)" style="width: 200px; ">
                            <option value="lastweek" selected>Last week</option>
                            <option value="lastmonth">Last Month</option>
                            <option value="lastyear">Last Year</option>
             </select>
             </div>
        </div>
</div>
</div>
<div>
        <h3 *ngIf="response"> {{type}} Details </h3>
        <table class="table table-striped"  *ngIf="response && isFlag">
                
            <thead>
                    <tr>
                            <th>Username</th>
                            <th>Designation</th>
                            <th>Repo</th>
                            <th>Status</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let dat of response" >
                                    <td>{{dat.user}}</td>
                                    <td>{{dat.designation}}</td>
                                    <td>{{dat.repoList}}</td>
                                    
                                    <td *ngIf="dat.repoList.length > 0">&#10004; </td>
                                    <td *ngIf="dat.repoList.length == 0">&#10060; </td>
</tr>
</tbody>
</table>

<table class="table table-striped"  *ngIf="response && isStatusFlag">
                
        <thead>
                <tr>
                        <th>Username</th>
                        <th>Designation</th>
                        <th>Repo</th>
                        <th>Status</th>
                        
                    </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let dat of response" >
                                <td>{{dat.user}}</td>
                                <td>{{dat.designation}}</td>
                                <td>{{dat.repo}}</td>
                                <td [ngClass]="{
                                        'closed' : dat.status == 'closed',
                                        'open' : dat.status == 'open',
                                      'overload':dat.status==null
                                     }">{{dat.status}}</td>
</tr>
</tbody>
</table>
</div>
