 <!--****-->     
 <div id="accordion">

        <div class="card">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#app_pro">
              Number of Checkouts Last Year
            </a>
          </div>
          <div id="app_pro" class="collapse show" data-parent="#accordion">
            <div class="card-body">
              
     
              <div class="card-group">
      
                  <div class="card">
                      <div class="card-body">
              
                          <p-chart type="bar" [data]="checkoutbyyear_data" [options]="options" width="900px" height="300px"></p-chart>
                      </div>
                  </div>
              </div> 
            </div>
          </div>
        </div>
      
        <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#risk">
                Number of Commits Last Year
              </a>
            </div>
            <div id="risk" class="collapse show" data-parent="#accordion">
              <div class="card-body">
      
               <!-- <app-commit></app-commit> -->
                <div class="card-group">
      
                    <div class="card">
                        <div class="card-body">
                
                            <p-chart type="line" [data]="commitbyyear_data" [options]="options" width="950px" height="300px"></p-chart>
                            
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#KT">
                Number of Pull Requests Last Year
              </a>
            </div>
            <div id="KT" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <!--<app-pullrequest></app-pullrequest>-->
      
                <div class="card-group">
      
                    <div class="card">
                        <div class="card-body">
                
                            <p-chart type="polarArea" [data]="pullbyyear_data" [options]="options" width="950px" height="300px"></p-chart>
                     
                        </div>
                    </div>
                </div>
      
              </div>
            </div>
          </div>
   </div>