<table class="table table-striped" >
        
    <thead>
            <tr>
                    <th>Repository ID</th>
                    <th>Repository Name</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let res of response" >
                        
                        <td>{{res.repoId}}</td>
                        <td> <a href="/userdetails">
                            {{res.repoName}}
                              </a>
                        <td>{{res.createdBy}}</td>
                        <td>{{res.createdDate}}</td>
                           
</tr>
</tbody>
</table>